//  Цвета
$font-stack:    Helvetica, sans-serif;
$color-orange-primary: #FF6E30;
$color-orange-hover: #FF6E30;
$color-orange-focus: #BC572B;
$color-orange-active: #CE4307;
$error-about: #F06666;
$error-contacts: #FF3030;
$color-white: #ffffff;
$grey-color-form-light: #E9E9E9;
$grey-color-social: #CACACA;
$grey-color-text: #CACACA;
$grey-color-data: #999999;
$grey-color-btn-close: #999999;
$grey-color-text-application: #999999;
$grey-color-form: #4A4A4A;
$grey-color-nav: #4A4A4A;
$grey-color-main: #202020;

// Размеры и отступы
$containerMaxWidth: 1920px;
$gutter: 30px;
$form-gutter: 20px;
// $projects-top-gutter: 24px;